html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, img, ins, kbd, q, s, samp, small, strike, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 100%; vertical-align:baseline; } 
body { line-height: 1; } 
ol{ list-style-type:decimal;}
ul { list-style-type:square; } 
blockquote, q { quotes: none; } 
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none;} 

html{ height:100%;}
body{  height: 100%; margin:0px; min-height:100%; height:100%; width:100%; font:14px/20px Arial; color:#8c8c8c; background:url(../img/body-bg.png) repeat}
/*--------------------------------------------------------visual-----------------------------------------------------------------------*/

.clr{ clear:both}
.rel{ position:relative;}
.abs{ position:absolute;}
.left{ float:left;}
.right{ float:right;}
.lt,.lb,.rt,.rb{ position:absolute;}
.lt{ left:0px; top:0px;}
.lb{ left:0px; bottom:0px;}
.rt{ right:0px; top:0px;}
.rb{ right:0px; bottom:0px;}
.block{ display:block;}
.white{ color:#FFF;}
.ht30{ height:30px;}

a{ color:#e59504}
a:hover{ text-decoration:none;}

p{ padding:5px 0;}

.rubl{ font-family:'Rubl';}

input,textarea{ font-family:'Museo',Arial; outline:none;}
input.sub{ font-family:'Open Sans'}

.h1,.h2,.h3{ display:block; }
h1,h2,h3{ font-weight:normal;}
h1,.h1{ font-size:18px; line-height:23px;}
h2,.h2{ font-size:14px; line-height:23px;}
h3,.h3{ font-size:18px; line-height:1;}

img[align="left"]{ float:left; padding:22px 28px 18px 0;}
img[align="right"]{ float:right; padding:22px 0 18px 28px;}

table{ border-collapse:collapse;}

#wrapper{ position:relative; width:960px; margin:0 auto;}
.middle{ position:relative; width:1024px; margin:0 auto;}

#header{ position:relative; height:186px;}
#header .left{ width:268px; height:100%; text-align:center; background:#4D90CF}
#header .left .logo{ position:relative; top:15px;}
#header .right{ position:relative; overflow:hidden; width:277px; padding:47px 0 0;}
#header .searchForm{ position:relative; overflow:hidden; background:#dedddb; padding:3px 3px 2px 0;}
#header .searchForm input[type="text"]{ float:left; margin:0 13px; padding:0; width:232px; border:none; background:none; font-size:12px; line-height:23px; color:#8c8c8c; font-style:italic;}
#header .searchForm input[type="submit"]{ float:right; text-indent:-9999px; width:16px; height:16px; cursor:pointer; border:none; background:url(../img/search-submit.png) 0 0 no-repeat}
#header .callLink{ float:left; height:20px; font-size:12px; line-height:23px; color:#858585; font-style:italic; cursor:pointer; padding:0 23px 0 0; margin:9px 0 0; background:url(../img/call-button-icon.png) 100% 1px no-repeat}
#header .email{ float:right; height:21px; padding:0 25px 0 0; margin:9px 0 0; font-size:12px; line-height:23px; color:#858585; font-style:italic; text-decoration:none; background:url(../img/email-icon.png) 100% 5px no-repeat}
#header .center{ position:relative; margin:0 324px 0 20px; padding:47px 0 0; text-align:right;}
#header .org{ font-size:26px; line-height:1; color:#8c8c8c; font-weight:bold; text-transform:uppercase; text-shadow:0 -1px 0 #696969,0 1px 5px #FFF; -moz-text-shadow:0 -1px 0 #696969,0 1px 5px #FFF; -webkit-text-shadow:0 -1px 0 #696969,0 1px 5px #FFF;}
#header .phone{ padding:7px 0 0; line-height:18px; color:#8c8c8c; font-weight:bold; text-shadow:0 -1px 0 #696969,0 1px 5px #FFF; -moz-text-shadow:0 -1px 0 #696969,0 1px 5px #FFF; -webkit-text-shadow:0 -1px 0 #696969,0 1px 5px #FFF;}

#header .menu { 
    position:relative; 
    clear:right; 
    margin:28px 0 0 268px; 
    list-style-type:none; 
    padding:0; 
    overflow:hidden; 
    height:58px; 
    background:url(../img/menu-bg.png) 0 0 repeat-x; 
    border-top:1px solid #c1aa28; 
    border-bottom:1px solid #aa7a1d; 
    border-right:1px solid #b28a20;
    }
    
#header .menu li { 
    float:left; 
    height:100%; 
    width:20%;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
    -webkit-border-radius: 0 1px 0 0/0 58px 0 0;
	  -moz-border-radius: 0 1px 0 0/0 58px 0 0;
	  border-radius: 0 1px 0 0/0 58px 0 0;
	  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.5), inset 0 1px rgba(255,255,255,.75);
	  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.5), inset 0 1px rgba(255,255,255,.75);
	  box-shadow: 0 1px 1px rgba(0,0,0,.5), inset 0 1px rgba(255,255,255,.75);
    }
    
#header .menu li a { 
    display:block; 
    width:100%; 
    text-align:center; 
    padding:30px 0 0; 
    height:28px; 
    line-height:23px; 
    color:#FFF; 
    font-weight:bold; 
    text-shadow:0 1px 0 #cd7210; 
    -moz-text-shadow:0 1px 0 #cd7210; 
    -webkit-text-shadow:0 1px 0 #cd7210; 
    text-decoration:none; 
    text-transform:uppercase;
    }
    
#header .menu li a img { 
    position:relative; 
    display:block; 
    margin:0 auto; 
    top:-40px;
    }
    
#header .menu li.active a { 
    color:#906e1a; 
    text-shadow:0 1px 0 #eac354; 
    -moz-text-shadow:0 1px 0 #eac354; 
    -webkit-text-shadow:0 1px 0 #eac354; 
    }
    
#header .menu li:hover a { 
    color:#906e1a; 
    text-shadow:0 1px 0 #eac354; 
    -moz-text-shadow:0 1px 0 #eac354; 
    -webkit-text-shadow:0 1px 0 #eac354; 
    }
    
#content{ position:relative; padding:0; overflow:hidden;} 

.sidebar{ 
    float:left;  
    width:268px; 
    background: url(../img/sidebar-bg.png) repeat;
    min-height: 100%;
    height: 1200px;
    }

.inner{ position:relative; margin:0 0 0 288px;}

#footer{ position:relative; width:960px; margin:-132px auto 0; }

.none{ display:none !important;}

.promo .item {
    float: left;
    width: 32%;
    margin-bottom: 38px;
    }
.promo .item.indent {margin-left: 13px;}  
.promo .image img {
    border: 5px solid #dfdfdf;
     -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 2px 5px rgba(0,0,0,0.5); /* Параметры тени */
    width: 200px;
    height: 178px;
    }

.name {height: 60px;}

.title1 {
    margin-bottom: 22px;
    height: auto;
	  font-size: 18px;
	  color: #8c8c8c;
	  text-shadow: 0 1px 5px rgba(1,1,1,.25);
    }

.services {
    margin-top: 15px;
    margin-bottom: 15px;
    }
    
.services li {
    margin-left: 30px;
    color: #4d90cf;
    list-style: disc;
    }
    
.services li .gray {
    color: #8c8c8c;
    }
    

.sidebar .menu {
    list-style: none;
    text-transform: uppercase;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    }

.sidebar .menu li:hover,
.sidebar .menu li.active {
    color: #e3ae29;
    }

.sidebar .menu li:hover ul,
.sidebar .menu li.active ul {
    display: block;
    color: #8c8c8c;
	  text-shadow: 0 1px 5px #fff, inset 0 1px rgba(1,1,1,.25);  
    }

.sidebar .menu li span {
    padding: 10px 20px;
    display: block;  
    }

.sidebar .menu ul {
    list-style: none;
    width: 100%;
    display: none;
    }

.sidebar .menu ul li a {
    text-decoration: none;
    color: #fff;
    }

.sidebar .menu ul li:hover {
    background: url(../img/opac.png) repeat;
    }

.arrow {
    margin-left: 40px;
    margin-right: 16px;
    }
    
.news {
    background: url(../img/opac.png) repeat;
    padding-bottom: 40px;
    }

.news .title {
    padding: 20px;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    }

.news .item {
    padding: 0 20px 20px 20px;
    }
    
.news .item a {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #ddb137;
  text-shadow: 1px 2px 3px #33495e;
	-moz-text-shadow: 1px 2px 3px #33495e;
	-webkit-text-shadow: 1px 2px 3px #33495e;
	}

.news .date {font-style: italic; text-shadow: 0 1px 3px rgba(0,0,0,.5), inset 0 1px rgba(255,255,255,.75);}

.needMore {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    margin: 0 20px 20px 0;
    }

.news .dscr {
    color: #fff;
    font-size: 12px;
    }

.news .item a {
    text-decoration: none;
    }

.gallery .item img {
    border: 5px solid #dfdfdf;
    float: left;
    margin-left: 14px;
    margin-top: 13px;
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 2px 5px rgba(0,0,0,0.5); /* Параметры тени */
    }

.gallery {padding-left: 6px;}

.gallery .title {
    margin-left: 14px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    }

.pull-right {float: right !important; margin: 20px 0 20px 0;}



.sidebarFooter {
    font-size: 12px;
    color: #fff;
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    }

#footer .cell {
    float: left;
    }

#footer .menu {
    list-style: none;
    }
#footer .menu li {
    height: 20px;
    }

#footer .menu a {
    text-decoration: none;
    color: #787878;
    font-size: 14px;
    }
    
#footer .logo { margin-right: 20px;}

    
  #footer .line {border: 2px solid #dedddb; width: 602px; float: right; margin-top: 20px;}
  
  #header .menu li .icon.active {display: none;}
  #header .menu li:hover .icon.active,
  #header .menu li.active .icon.active {display: block;}
  #header .menu li:hover .icon,
  #header .menu li.active .icon {display: none;}
  
  .push {height: 132px;}
  .pushLeft {
    height: 30px; 
    background: url(../img/sidebar-bg.png) repeat; 
    width: 268px;  
    float: left; 
    padding-top: 102px; 
    text-align: center; 
    color: #fff;
    }
      
 .copy { 
    color: #fff;
    text-align: center;
    width: 268px;
    }
    
  #footer .nav {margin-left: 40px; margin-top: -20px;}
  
  .magnaweb {text-align: right;}
  .magnaweb a {color: #4d90cf; text-align: right;}
  .magnaweb img {}
  .slogan { margin-top: -15px; text-align: right;}
  
  .dscr a { margin-left: 10px;}
  
  .promo .name {
    vertical-align: middle; 
    display: table-cell; 
    text-align: center;
    width: 210px;
    }
  .promo .name a {	  
    font-size: 18px;
	  color: #8c8c8c;
	  text-shadow: 0 1px 5px rgba(1,1,1,.25);
	  text-decoration: none;
	  }
  
.prod-img {
    float: left;
    width: 290px;
    }
.prod-img img {
     border: 5px solid #dfdfdf;
     -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 2px 5px rgba(0,0,0,0.5); /* Параметры тени */
    }  
    
.prod-text {
    float: left;
    margin-left: 30px;
    width: 350px;
    }
    
.prod-text .name {
    width: 330px;
    font-size: 12px;
	  font-weight: bold;
	  color: #fff;
	  padding-left: 20px;
	  background-color: #89a8c3;
	  line-height: 27px;
	  height: 27px;
    }
    
.prod-text .company {
    width: 315px;
    font-size: 12px;
	  font-weight: bold;
	  color: #8c8c8c;
	  padding-left: 20px;
	  padding-right: 15px;
	  background-color: #dedddb;
	  line-height: 27px;
	  height: 27px;
	  }

.prod-text p {margin-top: 15px;}	
.mrgn-top {margin-top: 20px;}  

/* --------------------карусель------------------------------- */

.thumbs {width:290px; height:400px; position:relative; margin: 0; z-index:100;}
.thumbs img {    
    -moz-box-shadow:none;
    -webkit-box-shadow: none;
    box-shadow:none;
    }
.thumbs input {position:absolute; left:-9999px;}
.thumbs label {display:block; width:90px; height:120px; float:left; background-repeat: no-repeat;}
.thumbs label.c1 {margin-right:10px;}
.thumbs label.r1,
.thumbs label.r2,
.thumbs label.r3,
.thumbs label.r4 {margin-bottom:10px;}
 
.thumbs label img {display:block; width:80px; height:55px; position:absolute; z-index:-1;
-webkit-transition:1s;
-moz-transition:1s;
-ms-transition:1s;
-o-transition:1s;
transition:1s;
}
 
.thumbs .c1 img {left:0;}
.thumbs .c2 img {left:100px;}
.thumbs .c3 img {left:200px;}
.thumbs .r1 img {top:256px;}

 
.b1, 
.b2,
.b3 {
    padding: 0; 
    margin-top:256px; 
    display:block; 
    width:80px; 
    height:55px; 
    border: 5px solid #dfdfdf; 
    float: left;
}
.b2, .b3 {margin-left: 10px;}
 
#thumb1:checked ~ .t1 img,
#thumb2:checked ~ .t2 img,
#thumb3:checked ~ .t3 img
 {z-index:100;}
 
#thumb1:checked ~ .t1 img,
#thumb2:checked ~ .t2 img,
#thumb3:checked ~ .t3 img
 {left: 0; top:0; width: 280px; height:236px;
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.5); /* Для Firefox */
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.5); /* Для Safari и Chrome */
  box-shadow: 0 2px 5px rgba(0,0,0,0.5); /* Параметры тени */
  }
 

 
/* -------------------------------------------------------------- */

.map {
    width: 372px;
    border: 4px solid #dfdfdf;
    height: 272px;
    margin: 30px 30px 30px 0;
    float: left;
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 2px 5px rgba(0,0,0,0.5); /* Параметры тени */
    }
    
.contacts-phone {
    float: left;
    margin-top: 30px;
    height: 272px;
    }

.contacts-phone p {margin-top: 0; margin-bottom: 20px;} 
    
.contacts-phone h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
	  font-size: 14px;
	  font-weight: bold;
	  color: #8c8c8c;
	  text-shadow: 0 1px 5px rgba(1,1,1,.25);
	  line-height: 14px;
	  margin-bottom: 10px;
	  }

.contacts-form {width: 100%; margin-top: 340px;}

.contacts-form form {
  background-color: #dddddb;
  width: 380px;
  margin: 0 0 0 0;
  padding: 0;
  float: left;
  }
  
.contacts-form input {
  background: url(../img/body-bg.png);
  border: none;
  width: 338px;
  margin-left: 16px;
  margin-bottom: 13px;
  height: 20px;
  padding: 0 5px;
  }
  
.contacts-form label {margin-left: 15px;}

.contacts-form legend {
  background-color: #89a8c3;
  padding: 9px 15px 7px;
  color: #fff;
  border-bottom: 1px solid #fff;
  width: 350px;
  margin-bottom: 13px;
  }
  
.contacts-form textarea {
  background: url(../img/body-bg.png);
  border: none;
  width: 338px;
  margin: 0 16px;
  height: 66px;
  padding: 5px;
  overflow: auto;
  }
  
.contacts-form button {
  font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px #d17a10;
	margin: 10px 15px;
	padding: 8px 15px;
	border: 1px solid #c1aa28;
	background: #f4d632;
  background: -moz-linear-gradient(top, #f4d632, #dc9e25);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4d632), color-stop(100%,#dc9e25));
  background: -webkit-linear-gradient(top, #f4d632, #dc9e25);
  background: -o-linear-gradient(top, #f4d632, #dc9e25);
  background: -ms-linear-gradient(top, #f4d632, #dc9e25);
  background: linear-gradient(top, #f4d632, #dc9e25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
	}
	
.contacts-text {
  float: left;
  margin-left: 20px;
  width: 252px;
  }
 
.warning {
  color: red;
  margin: 0 15px;
  padding: 0;
  }  
.contacts-text p { padding: 0 0 20px 0;}

.white_fon
{
	background-color: #fff;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0.8;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 101;
}

.popover_block
{	
	background-color: #fff;
	display: none;
	
	-o-box-shadow: 0 0 15px #000;
	-moz-box-shadow: 0 0 15px #000;
	-webkit-box-shadow: 0 0 15px #000;
	box-shadow: 0 0 15px #000;
	
	position: absolute;
	top: 100px;
	width: 380px;
	left: 50%;
	padding: 0;
	margin-left: -190px;
	z-index: 102;
}

.popover_block  .contacts-form
{
	margin-top: 0px
}

.popover_block .close-button
{
	position: relative;
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: -30px;
	cursor: pointer;
}